---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Leanghok's Cabin</title>
  </head>
  <body class="prose prose-stone prose-h1:text-2xl dark:prose-invert bg-stone-100 dark:bg-stone-900 h-screen md:mx-auto py-12 px-10 w-full">
    <header class="flex justify-between items-center mb-24">
      <a class="no-underline" href="/"><h1 class="m-0">Leanghok</h1></a>
      <nav class="flex gap-4">
        <a href="/about" class="font-semibold">About</a>
        <a href="/posts" class="font-semibold">Posts</a>
      </nav>
    </header>
    <h2>About Me</h2>
    <p>
      Hey there! I'm Leanghok, a 13 year old developer based in <strong>Cambodia</strong>.
      I have a terminal-based workflow which means I spend most of my time on the terminal with
      tools like <strong>neovim</strong>, and <strong>tmux</strong>.
    </p>
    <h2>Hobbies and Food</h2>
    <p>
      I enjoy <strong>programming</strong>, <strong>cycling</strong>, and <strong>playing basketball</strong>.
      My comfort food is the <strong>Cabanara Buldak Ramen with eggs</strong>.
    </p>
  </body>
</html>
