---
import MainLayout from "../layouts/MainLayout.astro";

const allPosts = Object.values(
  import.meta.glob("./archive/*.md", { eager: true }),
);

const parseDate = (dateStr) => {
  const [day, month, year] = dateStr.split('-').map(Number);
  return new Date(year, month - 1, day);
};

allPosts.sort((a, b) => parseDate(b.frontmatter.pubDate) - parseDate(a.frontmatter.pubDate));

const pageTitle = "Leanghok's archive";
---

<MainLayout title={pageTitle}>
  <h1 class="text-3xl font-black text-gruvbox-green mb-4">Archive</h1>
  <ul class="space-y-2 font-semibold">
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</MainLayout>
