---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from "../components/BlogPost.astro"
import Project from "../components/Project.astro"
import Socials from "../components/Socials.astro"

const pageTitle = "Leanghok's Cabin"
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Hello World!</h1>
  <img src="/phnom-penh.jpg" alt="Phnom Penh, Cambodia">
  <figcaption class="text-center">Phnom Penh, Cambodia</figcaption>
  <p>
    I'm <strong>Leanghok</strong>, a 13 year old <strong>developer</strong> based in Cambodia.
    I'm currently building <strong>Beardoro</strong>. I live in the terminal and
    I use <strong>arch (btw)</strong> with neovim.
    Right now, I'm just trying to <strong>get my life together</strong> by organizing everything but it's not going so well.
  </p>
  <Socials />
  <h2>Posts</h2>
  <div class="flex flex-col">
    <div><BlogPost url="/posts/a-place-on-the-internet" title="A place on the Internet" date="15 Sep 2024" /></div>
    <div><BlogPost url="/posts/my-linux-journey" title="My Linux Journey" date="16 Jul 2024" /></div>
  </div>
  <h2>Projects</h2>
  <div class="flex flex-col">
    <Project url="https://github.com/leanghok120/moody" name="Moody" desc="Minimal tiling windows manager for X11 written in C" />
    <Project url="https://beardoro.vercel.app" name="Beardoro" desc="Customizable, and aesthetic pomodoro timer" />
    <Project url="https://digiclock-opal.vercel.app" name="Digiclock" desc="Zen, and simple digital clock" />
    <Project url="https://github.com/leanghok120/clocky" name="Clocky" desc="Simple TUI ascii art clock, meant to be a simpler alternative to tty-clock" />
  </div>
</BaseLayout>

<style>
  img {
    border-radius: 20px;
  }
</style>
