---
import MainLayout from "../layouts/MainLayout.astro";
import Location from "../components/Location.astro";
import ProjectsList from "../components/ProjectsList.astro";
---

<MainLayout title="Leanghok's Cabin">
  <img src="/killua.png" alt="leanghok's pfp" class="rounded-full w-20" />
  <h1 class="text-3xl font-black text-gruvbox-green">Leanghok</h1>
  <Location />
  <blockquote class="mt-4 italic font-semibold text-gruvbox-blue">
    “I use arch btw”
  </blockquote>
  <p class="mt-5">
    13 year old programmer and yapper, I love listening to music, programming,
    linux, and neovim. I build stoopid stuff.
  </p>
  <h2 class="text-xl font-bold text-gruvbox-green mt-5">Stoopid projects</h2>
  <ProjectsList />
</MainLayout>
