---
import MainLayout from "../layouts/MainLayout.astro";
import Location from "../components/Location.astro";
---

<MainLayout title="Leanghok's Cabin">
  <img src="/killua.png" alt="leanghok's pfp" class="rounded-full w-20" />
  <h1 class="text-3xl font-black text-gruvbox-green">Leanghok</h1>
  <Location />
  <blockquote class="mt-4 italic font-semibold text-gruvbox-blue">
    “I use arch btw”
  </blockquote>
  <p class="mt-5 mb-5">
    13 year old programmer and yapper, I love listening to music, programming,
    linux, and neovim. I build stoopid stuff.
  </p>
</MainLayout>
