---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogList from "../components/BlogList.astro"
import ProjectList from "../components/ProjectList.astro"
import Socials from "../components/Socials.astro"
import { Image } from 'astro:assets';

const pageTitle = "Leanghok's Cabin"
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Hello World!</h1>
  <Image src="/phnom-penh.webp" alt="Phnom Penh, Cambodia" width="558" height="358" />
  <figcaption class="text-center">Phnom Penh, Cambodia</figcaption>
  <p>
    I'm <strong>Leanghok</strong>, a 13 year old <strong>developer</strong> based in Cambodia.
    I'm currently learning <strong>fullstack development</strong>. I live in the terminal and
    I use <strong>arch (btw)</strong> with neovim.
    Right now, I'm just trying to <strong>get my life together</strong> by organizing everything but it's not going so well.
  </p>
  <Socials />
  <h2>Posts</h2>
  <BlogList />
  <h2>Projects</h2>
  <ProjectList />
</BaseLayout>

<style>
  img {
    border-radius: 20px;
  }
</style>
