---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Leanghok's Cabin</title>
  </head>
  <body class="prose prose-stone prose-h1:text-2xl dark:prose-invert bg-stone-100 dark:bg-stone-900 h-screen mx-auto py-12 w-2/3">
    <header class="flex justify-between items-center mb-24">
      <a class="no-underline" href="/"><h1 class="m-0">Leanghok</h1></a>
      <nav class="flex gap-4">
        <a href="/about" class="font-semibold">About</a>
        <a href="/posts" class="font-semibold">Posts</a>
      </nav>
    </header>
    <h2>Hello World!</h2>
    <p>
      I'm <strong>Leanghok</strong>, a 13 year old <strong>developer</strong>. I'm currently building <strong>Beardoro</strong>.
      I live in the terminal and I use <strong>arch (btw)</strong> with neovim.
    </p>
    <h2>Posts</h2>
    <div class="flex flex-col">
      <a href="#">My Linux Journey</a>
      <a href="#">A place on The Internet</a>
    </div>
    <h2>Projects</h2>
    <div class="flex flex-col">
      <div><a href="https://github.com/leanghok120/moody" target="_blank">Moody</a>: A minimal tiling windows manager for x11</div>
      <div><a href="https://beardoro.vercel.app" target="_blank">Beardoro</a>: A customizable, and aesthetic pomodoro timer</div>
    </div>
  </body>
</html>
