---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Log | Leanghok">
  <h1 class="text-3xl font-black text-gruvbox-green">Log</h1>
  <h2 class="text-xl font-bold text-gruvbox-blue italic">
    animes/movies i've watched
  </h2>
  <ul class="mt-4 text-lg font-bold">
    <li>Spy x Family</li>
    <li>Haikyu</li>
    <li>Hunter x Hunter</li>
    <li>The social network</li>
    <li>Demon slayer</li>
    <li>A silent voice</li>
    <li>Your name</li>
  </ul>
</MainLayout>
