---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Leanghok's Posts"
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Posts</h1>
  <ul>
    <li><a href="posts/my-linux-journey">My Linux Journey</a></li>
  </ul>
</BaseLayout>
