---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectsList from "../components/ProjectsList.astro";
---

<MainLayout title="Projects">
  <h1>My Projects</h1>
  <ProjectsList />
  <a href="https://github.com/leanghok120" target="_blank">See more</a>
  <br />
  <a href="/">Go back</a>
</MainLayout>
