---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Tech | Leanghok">
  <h1 class="text-3xl font-black text-gruvbox-green">Techs that i use</h1>
  <h2 class="text-2xl font-bold text-gruvbox-blue mt-4">tech stack</h2>
  <ul class="text-lg">
    <li class="font-bold">Sveltekit</li>
    <li class="font-bold">Tailwind</li>
    <li class="font-bold">Shadcn-svelte</li>
    <li class="font-bold">Drizzle and Neondb</li>
  </ul>

  <h2 class="text-2xl font-bold text-gruvbox-blue mt-4">my setup</h2>
  <ul class="text-lg">
    <li class="font-bold">Arch Linux</li>
    <li class="font-bold">Hyprland</li>
    <li class="font-bold">Vscode</li>
    <li class="font-bold">Neovim</li>
    <li class="font-bold">Ghostty</li>
    <li class="font-bold">Tmux</li>
    <li class="font-bold">Fish</li>
  </ul>
</MainLayout>
