---
import BlogPost from "./BlogPost.astro"
---

<ul class="flex flex-col list-none p-0">
  <li><BlogPost url="/posts/getting-my-life-together" title="Getting my life together" date="16 Sep 2024" /></div>
  <li><BlogPost url="/posts/a-place-on-the-internet" title="A place on the Internet" date="15 Sep 2024" /></div>
  <li><BlogPost url="/posts/my-linux-journey" title="My Linux Journey" date="16 Jul 2024" /></div>
</ul>
