---
import killua from "../assets/killua.jpg";
import Socials from "./Socials.astro";
import Location from "./Location.astro";
---

<main class="border border-gruvbox-fg rounded-xl p-5 w-80 motion-preset-pop">
  <img src={killua.src} alt="leanghok's pfp" class="rounded-full w-16" />
  <h1 class="font-black text-2xl">Leanghok</h1>
  <Location />
  <blockquote class="italic mt-2">“I use arch btw”</blockquote>
  <Socials />
  <p class="mt-5">
    Hey! I'm Leanghok, a 13 year old developer and this is my personal website.
  </p>
  <p class="mt-5 mb-5">I love music, programming, and anime.</p>
  <a class="text-gruvbox-aqua font-bold" href="https://github.com/leanghok120"
    >Check out my projects</a
  >
</main>
