<nav class="w-full mb-6">
  <a class="text-gruvbox-red underline" href="/">home</a>
  <a class="text-gruvbox-red underline" href="/tech">tech</a>
  <a class="text-gruvbox-red underline" href="/log">log</a>
  <a class="text-gruvbox-red underline" href="/archive">archive</a>
</nav>
