---
import ThemeToggle from "../components/ThemeToggle.astro"
---

<header class="flex justify-between items-center mb-24">
  <a class="no-underline" href="/"><h1 class="m-0">Leanghok</h1></a>
  <nav class="flex gap-4">
    <a href="/about" class="font-semibold">About</a>
    <a href="/posts" class="font-semibold">Posts</a>
    <ThemeToggle client:load />
  </nav>
</header>
