---
import LocationIcon from "../assets/locationIcon.svg";
---

<div class="flex gap-1">
  <img src={LocationIcon.src} alt="location" />
  <p class="font-semibold text-gruvbox-gray">Cambodia</p>
</div>
