---
import Project from "./Project.astro"
---

<ul class="flex flex-col list-none p-0">
  <li>
    <Project
      url="https://github.com/leanghok120/moody"
      name="Moody"
      desc="Minimal tiling windows manager for X11 written in C"
    />
  </li>
  <li>
    <Project
      url="https://beardoro.vercel.app"
      name="Beardoro"
      desc="Customizable, and aesthetic pomodoro timer"
    />
  </li>
  <li>
    <Project
      url="https://digiclock-opal.vercel.app"
      name="Digiclock"
      desc="Zen, and simple digital clock"
    />
  </li>
  <li>
    <Project
      url="https://github.com/leanghok120/clocky"
      name="Clocky"
      desc="Simple TUI ascii art clock, meant to be a simpler alternative to tty-clock"
    />
  </li>
</ul>
