<ul class="mt-4 space-y-3">
  <li>
    <a
      class="font-bold underline text-gruvbox-red text-lg"
      href="https://github.com/leanghok120/moody"
      target="_blank">moody</a
    >
    <p class="text-md">simple tiling windows manager for x11 written in C</p>
  </li>
  <li>
    <a
      class="font-bold underline text-gruvbox-red text-lg"
      href="https://elmblog.vercel.app"
      target="_blank">elmblog</a
    >
    <p class="text-md">cozy blogging app with clean and minimal ui</p>
  </li>
  <li>
    <a
      class="font-bold underline text-gruvbox-red text-lg"
      href="https://github.com/leanghok120/clocky"
      target="_blank">clocky</a
    >
    <p class="text-md">a minimal clock right in the comfort of your terminal</p>
  </li>
  <li>
    <a
      class="font-bold underline text-gruvbox-red text-lg"
      href="https://github.com/leanghok120/cozsh"
      target="_blank">cozsh</a
    >
    <p class="text-md">a minimal shell written in 145 lines of C code</p>
  </li>
  <li>
    <a
      class="font-bold underline text-gruvbox-red text-lg"
      href="https://github.com/leanghok120"
      target="_blank">See all projects</a
    >
  </li>
</ul>
