---
import github from "../assets/github.svg";
import twitter from "../assets/twitter.svg";
import mail from "../assets/mail.svg";
---

<div class="flex gap-2 mt-2">
  <a href="https://github.com/leanghok120" target="_blank" class="hover:scale-110 transition-all"
    ><img src={github.src} alt="github" /></a
  >
  <a href="https://x.com/leangphok" target="_blank"class="hover:scale-110 transition-all"
    ><img src={twitter.src} alt="twitter" /></a
  >
  <a href="mailto://leanghokoeng5@gmail.com" target="_blank"class="hover:scale-110 transition-all"
    ><img src={mail.src} alt="email" /></a
  >
</div>
