---

---

<div class="p-5">
  <h1>What I Use</h1>
  <h2 class="mt-5">Tech Stack</h2>
  <ul class="mt-2">
    <li>React</li>
    <li>Tailwindcss</li>
    <li>Daisyui</li>
    <li>Node and Express</li>
    <li>Mongodb</li>
  </ul>

  <h2 class="mt-5">My Setup</h2>
  <ul class="mt-2 mb-5">
    <li>OS: Arch</li>
    <li>WM: Hyprland</li>
    <li>Editor: Neovim</li>
    <li>Terminal: Ghostty with Tmux</li>
    <li>Shell: Fish</li>
    <li>
      <a href="https://github.com/leanghok120/Dotfiles" target="_blank">Dots</a>
    </li>
  </ul>

  <a href="/">Go back</a>
</div>
