---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

const { pageTitle } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpeg" href="/favicon.jpg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Leanghok's cozy place where he shares his thoughts and ideas">
    <meta name="keywords" content="Personal website, personal, cozy, cabin, Leanghok, Oeng">
    <meta name="author" content="Leanghok Oeng">
    <title>{pageTitle}</title>
  </head>
  <body class="prose prose-zinc prose-h1:text-2xl dark:prose-invert bg-amber-50 dark:bg-neutral-900 h-screen md:mx-auto py-12 px-10 w-full">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
