---
import banner from "../assets/killua-vs-youpi.webm";
---

<main
  class="border border-gruvbox-fg bg-gruvbox-bg rounded-xl w-80 motion-preset-pop"
>
  <video autoplay loop muted playsinline class="rounded-tl-xl rounded-tr-xl">
    <source src={banner} type="video/webm" />
  </video>
  <slot />
</main>
