---
import banner from "../assets/killua-vs-youpi.gif";
---

<main
  class="border border-gruvbox-fg bg-gruvbox-bg rounded-xl w-80 motion-preset-pop"
>
  <img
    src={banner.src}
    alt="banner image"
    class="rounded-tl-xl rounded-tr-xl w-full"
  />
  <slot />
</main>
