---
const { title } = Astro.props;
import Stars from "../components/Stars.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en" class="scanlines">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpg" href="/killua.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-screen bg-gruvbox-bg text-gruvbox-fg">
    <main class="p-5 mt-10 mx-auto max-w-3xl w-full">
      <Header />
      <slot />
    </main>
    <Stars />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Departure";
    src: url("../assets/DepartureMono-Regular.otf");
  }

  .scanlines {
    position: relative;
    overflow: hidden;
  }

  .scanlines:before,
  .scanlines:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  .scanlines:before {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 2px,
      transparent 2px
    );
    background-size: 100% 3px;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
  }

  blockquote {
    font-style: italic;
  }
</style>
