---
const { title } = Astro.props;
import Stars from "../components/Stars.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en" class="scanlines">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpg" href="/killua.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="h-screen bg-gruvbox-bg text-gruvbox-fg font-jetbrainsmono">
    <main class="p-5 mt-10 mx-auto max-w-2xl w-full">
      <Header />
      <slot />
    </main>
    <Stars />
  </body>
</html>

<style is:global>
  .scanlines {
    position: relative;
    overflow: hidden;
  }

  .scanlines:before,
  .scanlines:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  .scanlines:before {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 2px,
      transparent 2px
    );
    background-size: 100% 3px;
  }
</style>
