---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="h-screen bg-gruvbox-bg text-gruvbox-fg flex justify-center items-center font-sans"
  >
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Departure";
    src: url("../assets/DepartureMono-Regular.otf");
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
  }

  blockquote {
    font-style: italic;
  }

  a {
    font-weight: 700;
  }
</style>
